.card {
    width: 250px;
    height: 400px;
    border-radius: 20px;
    background: #ffffff27;
    position: relative;
    padding: 1.8rem;
    border: 5px solid #00ccff;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: rgb(49, 238, 191);
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #23ebbf;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   

   .text-title {
    display: flex;
    justify-items: center;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.911);
    color: #2ba59f;
    border-radius: 20px;
    border: 2px solid rgb(124, 195, 212);
    height: 70px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
   }
   
   .card:hover {
    border-color: #23ebbf;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

.game{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.tp
{
    margin: 0 60px;
    border-radius: 20px;
}

body {
    background-color: #ffffff;
}
  
.menu-bar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #ffffff;
padding: 10px 40px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
overflow: visible; /* Cho phép logo tràn ra ngoài */
height: 37px;
}

/* Phần bên trái */
.left-section {
flex: 0 0 20%;
text-align: left;
position: relative; /* Để logo có thể tràn ra ngoài */
}

.logo {
    height: 100px; /* Tăng kích thước logo */
    transition: transform 0.3s ease;
    position: absolute; /* Để logo tràn ra ngoài */
    top: -50px; /* Đẩy logo lên trên */
    left: 10px; /* Đẩy logo sang trái */
  }  

.logo:hover {
transform: scale(1.1);
}

/* Phần giữa */
.middle-section {
display: flex;
flex: 0 0 80%;
justify-content: center;
align-items: center;
}


/* Style chung cho các liên kết trong phần giữa */
.middle-section a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
    margin: 0px 50px;
    font-family: "Roboto", sans-serif;
}

.middle-section a::after {
content: '';
position: absolute;
width: 0;
height: 2px;
background-color: #ffa5ab;
bottom: -5px;
left: 0;
transition: width 0.3s ease;
}

.middle-section a:hover {
color: #ffa5ab;
}

.middle-section a:hover::after {
width: 100%;
}
  